.search-bar-input{
    padding: 2px 32px;
    margin-left: 16px;
    width: 444.8px;
    margin-top: 32px;
    border-style: solid;
    border-color: rgb(236, 167, 39);
    border-bottom: 2px solid;
    transition: 0.3s border-color;
    font-size: 20px;
    font-weight: 600;

}
.search-bar-input:focus{
    outline: none;
    border-color: transparent;
    border-bottom: 2px solid;
}
.search-icon{
    position: absolute;
    left: 0;
    margin-top: 2.3rem;
    margin-left: 1rem;
    cursor: pointer;
}